.body {
    margin: 0;
    padding: 0;
    width: 1280px;
}

p{
    margin-bottom: 30px;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.top-logo {
    font-size: 80px;
    font-family: sans-serif;
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 45px;
}

.ra-color {
    color: black;
}

.ramda-logo {
    text-decoration: none;
    color: #4bcaff;
    font-weight: 400;

}

.nav-bar {
    background-color: #35444f;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;

}
ul {
    letter-spacing: -8px;
}

.nav-button{
    display: inline-block;
    vertical-align: middle;
    padding: 25px 40px;
    /*border: 1px solid red;*/
    letter-spacing: normal;
}


.nav-top-button{
    text-decoration: none;
    color: white;

}

.nav-button:hover {
    text-decoration: none;
    color: white;
    background-color: #222f3a;
    border: 1px solid white;
    padding: 24px 39px;


}
.left-menu{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #35444f;
    width: 348px;
    height: 402px;
    margin-top: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    font-size: 30px;

}

.menu-button{
    display: inline-block;
    width: 300px;
    padding: 25px 0 25px 45px;

}

.menu-top-button{
    text-decoration: none;
    color: #35444f;
}

.menu-button:hover {
    text-decoration: none;
    color: white;
    background-color: #dbdbdb;

}

.image {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    border: 1px solid #35444f;
    width: 878px;
    height: 530px;
    margin-top: 50px;

}

.img-item{
    display: block;
    margin: 75px auto;
}

.img-item:hover{
    transform: scale(1.1);
    transition: 2s;
}

.text{
    width: 880px;
    padding: 50px 0 50px 400px;
    font-size: 18px;
    font-family: sans-serif;
    text-align: justify;
}

.footer-menu{
    background-color: #b4b7ba;
    padding-left: 45px;
    font-size: 28px;
    font-family: sans-serif;
    text-align: left;
    list-style: none;
    letter-spacing: -8px;


}

.footer-button{
    display: inline-block;
    vertical-align: middle;
    margin: 22px 11px;
    letter-spacing: normal;
    /*border: 1px solid red;*/

}

.footer-top-button{
    text-decoration: none;
    color: #0c1927;
}
.footer-top-button:hover{
text-decoration: underline;
color: #5d93ad;


}
.copy{
    display: inline-block;
    text-decoration: none;
    color: #0c1927;
    margin-left: 80px;
    letter-spacing: normal;
}